@import 'https://fonts.googleapis.com/css?family=Oxygen+Mono';

.cart-row {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #e1e1e1;
  }
  .cart-row div {
    text-align: center; 
  }
  .cart-row img.img-responsive { 
    margin: 0 auto; 
  }

  .h3-price { 
    color: rgb(20, 80, 150); 
    font-family: 'Oxygen Mono', monospace;
  }

  .cart-qty-input {
    font-size: 1em;
    font-family: 'Oxygen Mono', monospace;
    margin-top: 10px;
    padding: 10px;
    width: 95%;
    border: 1px solid black;
  }

  .cart-row a {
      cursor: pointer;
  }