.portfolio-item {
    margin-bottom: 30px;
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .pagination {
    margin-bottom: 30px;
  }
  
.card-header{
  width: 40%;
  padding: 0px;
  float: left;
  
}

.right-content{
  position: relative;
  float: left;
  width: 60% !important;
  height: 367.5px;
}